site/
media/
.vscode/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class


# Virtual environment
venv/
.env
.venv/

# Node modules for selenium tests
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.cache/