Django>=5.0,<6.0
djangorestframework>=3.15,<4.0          # for APIs
django-cors-headers>=4.3,<5.0           # for frontend-backend communication
psycopg2-binary>=2.9,<3.0               # PostgreSQL driver
djangorestframework-simplejwt>=5.3      # For JWT tokens
drf-spectacular                         # For API documentation
python-dotenv                           # For environment variable management
pytest                                  # for testing
pytest-django                           # for testing
selenium                                # for testing
webdriver-manager                       # for testing
celery >=5.2,<6.0                       # for background tasks